@tailwind base;
@tailwind components;
@tailwind utilities;




.center{
    justify-content: center;
    align-items: center;
    display: flex;
}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: Impact;
	width: 100%; height: 100%;
	position: absolute;
}
svg text {
	animation: stroke 6s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 110px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #FFFFFF};


.scrollbar{
	scroll-behavior: smooth;
	padding-top: 100px;
	
	}
	
	html
	{
	  scroll-behavior: smooth;
	}
	